/* ----- Fontes -----*
Code Next ExtraBold
Instruction
NeuzeitGroteskCondW01-Black
*/

/* ----HEAD COMENTADO----
nav
.menu1{
	display: flex;
	padding-top: 1%;
	background-color: #333333;
	padding-bottom: 1%;
	opacity: 85%;
	padding-left: 35%;
	
	position: fixed;
	top: 0px;
	backdrop-filter: blur(10px);
}
.menu1 p{
	font-family:F37 Ginger;
	
	color: white;
	padding-top: 2%;
	
	padding-left: 3%;
}
.menu1 img{
	width: 38%;
	padding-left: 4%;	
}
.gitlinkedln{
	
	padding-left: 37%;

	cores do bg = #FFD369,#EEEEEE,#2C3639,#5C5C5C
}*/
/* ---- MENU MOBILE ---- */

.linhaMenu1, .linhaMenu2, .linhaMenu3{
	border-top: 5px solid #2D2D2D;
	width: 10%;
	
	margin-left: 130%;
	position: absolute;

}
.linhaMenu1{
	top: -315%;
	opacity: 100%;
	transition: all 0.5s;
	
}
.transforma{
	transform: rotateZ(90deg);

}
.linhaMenu2{
	top: -310%;
	opacity: 100%;
	transition: all 0.5s;
}
.linhaMenu3{
	top: -305%;
	opacity: 100%;
	transition: all 0.5s;
}




/* ------ MAIN-----*/
html{
	scroll-behavior: smooth;
}
.lampadaAcesa {
	position: absolute;
	right: 5%;
	top: 4%;
	width: 10%;
	cursor: pointer;
}
.lampadaApagada{
	position: absolute;
	right: 5%;
	top: 4%;
	width: 10%;
	visibility: hidden;
	cursor: pointer;

}
input{
	background-color: transparent;
}
main{
	/* --- background --- */
	width: 100%;
	
	background:linear-gradient(to bottom ,#FFD369 0 5%  , #fce6a2 12% 100% );
	background-size: 200% 250%;
	/*animation: colors 15s ease ;*/
}
.iconeGit img {
	width: 8.5%;
	margin-left:7%;
	margin-bottom: 2%;
	opacity: 90%;
}
.iconeGit img:hover {
	opacity: 50%;
}


.iconeWpp img{
	width: 5.5%;
	margin-left:8%;
	margin-bottom: 2.5%;
	opacity: 90%;
	
}
.iconeWpp img:hover {
	opacity: 50%;
}
.iconeLinkedin img{
	width: 5.5%;
	margin-left:8%;
}
.iconeLinkedin img:hover {
	opacity: 50%;
}
.icones{
	
	left: 0;
	bottom: 15%;
	position: fixed;
	margin-top: 32%;
	/*animation: redes-sociais 2.5s ease-in-out;*/
	
	
}


.linhaVertical{
	position: absolute;
	position: fixed;
	border-left: 2px solid #2D2D2D;
	margin-top: 43%;
	margin-left:4%;
	padding-bottom: 15%;
	opacity: 85%;
	animation: redes-sociais 2.5s ease-in-out;
	
}

.perfilSessaoUm{
	
	width: 140%;
		
	padding-top: 25%;
}
.botao{
	width: 2%;
	background-color:transparent;
	border: none;
	margin-left:91%;

}
.botao img{
	width: 400%;
	left: 0;
}
.cubo{
	width: 5%;
	padding-left: 92%;
	animation: CuboMexe 3s linear infinite;
}
.sombra{
	border-bottom: 8px solid black;
	margin-left: 93%;
	margin-right: 3.5%;
	margin-top: 1%;
	border-radius: 90%;
	opacity: 75%;
	animation: sombraAcompanha 3s linear infinite;

	
}
.containerimg{
	
	padding-left: 5%;

}
.container{
	display: flex;
		
}
.tituloSessao1{
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 10%;
	
}


.tituloSessao1 h2{

	font-size: 450%;
	font-family: Code Next ExtraBold;
	color: #2D2D2D;
	padding-top: 30%;
	padding-left: 30%;

}
.tituloSessao1 h3{
	font-family: Instruction;
	font-size: 190%;
	color: #C84B31;
	padding-left: 30%;
}

.iconeMeio img{
	width: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 45%;
}

.balao {
	position: absolute;
	top: 0%;
	left: 65%;
	height: 21%;
	visibility: hidden;

}
.sobre{
	vertical-align: top;
}

.sobre h4{
	font-family: Instruction;
	font-size: 150%;
	color: #C84B31;
	
	padding-left: 20%;

}
.sobre h1{
	color: #FFFC00;
	font-size: 250%;
	text-align: center;
	font-family: NeuzeitGroteskCondW01-Black;

}
.sobre h2{
	font-family: Instruction;
	font-size: 350%;
	color: #333333;
	
	padding-left: 20%;
}
.sobre p{

	font-size: 85%;
	color: #333333;
	padding-top: 5%;
	padding-left: 20%;
	line-height: 200%;
	
	padding-right: 15%;
	font-family: Instruction;
}
.sobre img{
	width: 15%;
	padding-right: 10%;
}
.projetos{
	padding-bottom: 8%;
}
.projetos h4{
	font-family: Instruction;
	font-size: 150%;
	color: #C84B31;
	
	padding-left: 20%;

}
.projetos h1{
	
	color: #FFD369;
	font-size: 200%;
	text-align: center;
	font-family: Code Next ExtraBold;
}
.projetos h2{
	
	font-family: Instruction;
	font-size: 350%;
	color: #2D2D2D;	
	padding-left: 20%;


}
.emBreve{
	display: flex;

	margin-left: 7%;
}
.box1{
	
	border-radius: 10%;
	background-color:#2D2D2D;
	width: 18%;
	height: 18%;
	
	margin-top: 5%;
	margin-left: 12%;
	padding-bottom: 8%;
	padding-top: 7%;
	opacity: 85%;


}

.habilidades h4{
	font-family: Instruction;
	font-size: 150%;
	color: #C84B31;
	
	padding-left: 20%;

}

.habilidades h1{
	padding-top: 5%;
	color: #FFFC00;
	font-size: 250%;
	text-align: center;
	font-family: NeuzeitGroteskCondW01-Black;
}
.habilidades h2{
	
	font-family: Instruction;
	font-size: 350%;
	color: #2D2D2D;
	padding-bottom: 5%;
	padding-left: 20%;


}
.habilidadesImagens{
	display: flex;
	
}
.iconeCssHtmlJs  {
	padding-top: 2%;
	height: 25%;
	width: 25%;
	padding-left: 16%;
	
	
}
.iconeGitGitHub{
	
	width: 25%;


}

.iconeCsharp {

	padding-left: 47%;
	width: 13%;
	
	
}
.iconeMySql{
	padding-top: 2%;
	padding-left: 5%;
	width: 20%;
	height: 20%;
}
/*---------- RESPONSIVIDADE ---------*/

@media screen and (max-width: 980px){


.container{
	display: inline;
}
.perfilSessaoUm{
	padding-top: 10%;
	width: 90%;
	margin-left: 4%;
	
	
}
.tituloSessao1 h2{
	font-size: 600%;
	padding-top: 25%;
	padding-left: 15%;

}
.tituloSessao1 h3{
	padding-left: 15%;
	font-size: 300%;
	padding-bottom: 5%;
}
.iconeMeio img{
	width: 30%;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 35%;
	
}
.botao, .sombra{
	visibility: hidden;
}
.sobre p{
	text-align: justify;
}
.sobre img{
	display: none;
}
.emBreve{
	display: inline;
}
.box1{
	width: 50%;
	padding-top: 15%;
	padding-bottom: 15%;
	margin-left: 25%;
}

.icones{
	
top: 22%;

}

.iconeGit img {
	width: 22%;
	margin-left:6%;
	
	opacity: 80%;
}
.iconeWpp img{
	width: 15.5%;
	margin-left:8%;
	opacity: 80%;
	
}
.iconeLinkedin img{
	width: 15%;
	margin-left:8%;
	opacity: 80%;
}
.linhaVertical{
	display: none;
}
.lampadaAcesa, .lampadaApagada{
	right: 2%;
	top: 8%;
	width: 20%;
}
.linhaMenu1{
	width: 15%;
	border-top: 8px solid #2D2D2D;
	top: -85%;
	position: absolute;
	left: -40%;
}
.linhaMenu2{
	width: 15%;
	border-top: 8px solid #2D2D2D;
	top: -83%;
	position: absolute;
	left: -40%;
}
.linhaMenu3{
	width: 15%;
	border-top: 8px solid #2D2D2D;
	top: -81%;
	position: absolute;
	left: -40%;
}


}


/*---------KEYFRAMES--------*/
/*
 ---- Animação background Inativa ---- 

@keyframes colors{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	

}*/
/* animando menu mobile */


@keyframes CuboMexe{
	/* Cubo começa no meio de seu movimento*/
	0%{
		transform: translateY(0%) 
		
	} 	
		25%{
		transform: translateY(10%) 
		
	}
	50%{
		transform: translateY(0%);
	}

	75%{
		/* Ponto mais alto*/
		transform: translateY(-10%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes sombraAcompanha{

	0%{
		transform: scale3d(1,1,1);
		opacity: 30%;
		
	}

	25%{
		transform: scale3d(0.5,0.5,0.5);
		opacity: 90%;


	}

	

	50%{
		transform: scale3d(1,1,1);
		opacity: 30%;
	}
	75%{
		transform: scale3d(1.5,1.5,1.5);
		opacity: 0%;
	}
	100%{
		transform: scale3d(1,1,1);
		opacity: 30%;
	}
}

.tituloSessao1,.perfilSessaoUm,.sobre,.projetos,.habilidades,.iconeMeio{
	visibility: hidden;
}


/*

Animação botões da esquerda 

@keyframes redes-sociais {


	24%{
		transform: translateY(6%);

	}
	30%{
		transform: translateY(-100%);
	}
	36%{
		transform: translateY(5%);
		}
	42%{
		transform: translateY(-75%);

	}
	48%{
		transform: translateY(4%);
	}
	54%{
		transform: translateY(-50%);
	}
	62%{
		transform: translateY(3%);
	}

	68%{
		transform: translateY(-25%);
	}
	74%{
		transform: translateY(2%);
	}
	80%{
		transform: translateY(-12%);
	}
	86%{
		transform: translateY(1%);
	}
	92%{
		transform: translateY(-6%);
	}

	100%{
		transform: translateY(0%);
	}
}*/