/* ----- Fontes -----*/
@font-face {
	font-family: CodeNext;
	src: url('fontes/CodeNext-ExtraBold.otf') format('opentype'), url('fontes/CodeNext-ExtraBold.ttf') format('truetype');
	
}
@font-face {
	font-family: Instru;
	src: url('fontes/Instruction.otf') format('opentype');
}

@font-face {
	font-family: Kontanter;
	src: url('fontes/Kontanter-Bold.otf') format('opentype');
	
}

/*Code Next ExtraBold
Instruction
NeuzeitGroteskCondW01-Black
*/

/* ----HEAD COMENTADO----
nav
.menu1{
	display: flex;
	padding-top: 1%;
	background-color: #333333;
	padding-bottom: 1%;
	opacity: 85%;
	padding-left: 35%;
	
	position: fixed;
	top: 0px;
	backdrop-filter: blur(10px);
}
.menu1 p{
	font-family:F37 Ginger;
	
	color: white;
	padding-top: 2%;
	
	padding-left: 3%;
}
.menu1 img{
	width: 38%;
	padding-left: 4%;	
}
.gitlinkedln{
	
	padding-left: 37%;

	cores do bg = #FFD369,#EEEEEE,#2C3639,#5C5C5C
}*/
/* ---- MENU MOBILE ---- */
.menu{
	/*backdrop-filter: blur(10px);*/
	/*background: #FFD369;*/

	top: 0%;
	width: 15%;
	height: 8%;
	position: fixed;
	transition: all 0s ease-in-out;
	opacity: 50%;
	visibility: hidden;
	
	
}
.aumentaMenu{
	height: 30%;
	
}

.linhaMenu1{
	
	border-top: 5px solid #2D2D2D;
	width: 5%;
	padding-top: 2%;
	transition: all 0.5s ease-in-out;
	margin-left: 50%;
	
}
.transforma{
	transform: rotateZ(90deg);

}
.linhaMenu2{	
	
	border-top: 5px solid #2D2D2D;
	width: 5%;
	margin-left: 50%;
	transition: all 0.5s ease-in-out;
}
.linhaMenu3{
	margin-left: 50%;
	border-top: 5px solid #2D2D2D;
	margin-top: 2%;
	width: 5%;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.movimentaBotaoGit{
	
	transform: translateY(50%);
	visibility: visible;


}
.movimentaBotaoWpp{
	
	transform: translateY(220%);
	visibility: visible;

}
.movimentaBotaoLinkedin{
	
	transform: translateY(350%);
	visibility: visible;

}
.movimentaDarkMode{
	transform: translateY(500%);
	visibility: visible;

}
.movimentaLightMode{
	transform: translateY(500%);
	visibility: hidden;

}


/* ------ MAIN-----*/
html{
	scroll-behavior: smooth;
}
.lampadaAcesa {
	position: absolute;
	margin-top: 100px;
	right: 5%;
	top: 1%;
	width: 10%;
	cursor: pointer;
	visibility: visible;
}
.lampadaApagada{
	position: absolute;
	margin-top: 100px;
	right: 5%;
	top: 1%;
	width: 10%;
	cursor: pointer;
	visibility: hidden;
}
main{
	/* --- background --- */
	
	width: 100%;
	background:linear-gradient(to bottom ,#FFD369 0 5%  , #fce6a2 12% 100% );
	background-size: 200% 250%;
	/*animation: colors 15s ease ;*/
}
.iconeGit img {
	width: 8.5%;
	margin-left:7%;
	margin-bottom: 2%;
	opacity: 90%;
	transition: all 0.5s;
	
	
}
.iconeGit img:hover {
	opacity: 50%;
}


.iconeWpp img{
	width: 5.5%;
	margin-left:8%;
	margin-bottom: 2.5%;
	opacity: 90%;
	transition: all 0.5s;
	
	
}
.iconeWpp img:hover {
	opacity: 50%;
}
.iconeLinkedin img{
	width: 5.5%;
	margin-left:8%;
	transition: all 0.5s;
	
}
.iconeLinkedin img:hover {
	opacity: 50%;
}
.fundoIconesDark{
	left: 2.4%;
	bottom: 0;
	width: 0%;
	position: fixed;
	margin-top: 32%;
	background-color:#fce6a2;
	height: 38%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	opacity: 90%;
	transition: all 0.5s ease-in-out;
	
}
.movimentaFundoIconesDark{
	
	width: 3.5%;
	
	
}
.icones{
	
	left: 0;
	bottom: 15%;
	position: fixed;
	margin-top: 32%;
	
	
	/*animation: redes-sociais 2.5s ease-in-out;*/
	
	
}


.linhaVertical{
	position: absolute;
	position: fixed;
	border-left: 2px solid #2D2D2D;
	margin-top: 43%;
	margin-left:4%;
	padding-bottom: 15%;
	opacity: 85%;
	animation: redes-sociais 2.5s ease-in-out;
	
}

.perfilSessaoUm{
	
	width: 140%;
	padding-left: 25%;	
	padding-top: 25%;
}
.botao{
	width: 2%;
	background-color:transparent;
	border: none;
	margin-left:91%;

}
.botao img{
	width: 400%;
	left: 0;
}
.cubo{
	width: 5%;
	padding-left: 92%;
	animation: CuboMexe 3s linear infinite;
}
.sombra{
	border-bottom: 8px solid black;
	margin-left: 93%;
	margin-right: 3.5%;
	margin-top: 1%;
	border-radius: 90%;
	opacity: 75%;
	animation: sombraAcompanha 3s linear infinite;

	
}
.containerimg{
	
	padding-left: 5%;

}
.container{
	display: flex;
		
}
.tituloSessao1{
	padding-top: 7%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 10%;
	
}


.tituloSessao1 h2{

	font-size: 450%;
	font-family: CodeNext;
	color: #2D2D2D;
	padding-top: 30%;
	padding-left: 30%;

}
.tituloSessao1 h3{
	font-family: Instru;
	font-size: 190%;
	color: #C84B31;
	padding-left: 30%;
}

.iconeMeio h1{
	font-family: Kontanter;
	letter-spacing: 10px;
	color: #333333;
	padding-top: 5%;
	padding-bottom: 10%;
	padding-left: 45%;
	
	
	
}
.iconeMeioFonteBranca h1{
	font-family: Kontanter;
	letter-spacing: 10px;
	color: #fce6a2;
	padding-top: 5%;
	padding-bottom: 10%;
	padding-left: 45%;
	display: none;

}
.balao {
	position: absolute;
	top: 0%;
	left: 65%;
	height: 21%;
	visibility: hidden;

}
.sobre{
	vertical-align: top;
}

.sobre h4{
	font-family: Kontanter;
	font-size: 110%;
	color: #C84B31;
	letter-spacing: 10px;
	
	padding-left: 20%;

}
.sobre h2{
	font-family: Instru;
	font-size: 350%;
	color: #333333;
	
	padding-left: 20%;
}
.sobre p{

	font-size: 85%;
	color: #333333;
	padding-top: 5%;
	padding-left: 20%;
	line-height: 200%;
	
	padding-right: 15%;
	font-family: Instru;
}
.sobre img{
	width: 15%;
	padding-right: 10%;
}
.projetos{
	padding-bottom: 8%;
}
.projetos h4{
	font-family: Kontanter;
	font-size: 120%;
	color: #C84B31;
	letter-spacing: 10px;
	padding-left: 20%;

}
.projetos h1{
	
	color: #FFD369;
	font-size: 200%;
	text-align: center;
	font-family: CodeNext;
}
.projetos h2{
	
	font-family: Instru;
	font-size: 350%;
	color: #2D2D2D;	
	padding-left: 20%;


}
.emBreve{
	display: flex;

	margin-left: 7%;
}
.box1{
	
	border-radius: 10%;
	background-color:#2D2D2D;
	width: 18%;
	height: 18%;
	
	margin-top: 5%;
	margin-left: 12%;
	padding-bottom: 8%;
	padding-top: 7%;
	opacity: 85%;


}

.habilidades h4{
	font-family: Kontanter;
	font-size: 120%;
	color: #C84B31;
	letter-spacing: 10px;
	
	padding-left: 20%;

}


.habilidades h2{
	
	font-family: Instru	;
	font-size: 350%;
	color: #2D2D2D;
	padding-bottom: 5%;
	padding-left: 20%;


}
.habilidadesImagens{
	display: flex;
	
}
.iconeCssHtmlJs  {
	padding-top: 2%;
	height: 25%;
	width: 25%;
	padding-left: 25%;
	
	
}
.iconeGitGitHub{
	
	width: 25%;


}

.iconeCsharp {

	padding-left: 10%;
	width: 13%;
	
	
}
.iconeMySql{
	padding-top: 2%;
	padding-left: 30%;
	width: 20%;
	height: 20%;
}
/*---------- RESPONSIVIDADE ---------*/

@media screen and (max-width: 980px){


.container{
	display: inline;
}
.perfilSessaoUm{
	padding-top: 10%;
	width: 70%;
	margin-left: -5%;
	
}
.tituloSessao1 h2{
	font-size: 600%;
	padding-top: 25%;
	padding-left: 15%;


}
.tituloSessao1 h3{
	padding-left: 15%;
	font-size: 260%;
	padding-bottom: 5%;
	margin-bottom: 10%;
}
.iconeMeio h1{
	font-size: 100%;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 40%;
	
}
.iconeMeioFonteBranca h1{
	font-size: 100%;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 40%;

}
.botao, .sombra{
	visibility: hidden;
}
.sobre p{
	text-align: justify;
}
.sobre img{
	display: none;
}
.sobre h4{
	font-size: 80%;
}
.emBreve{
	display: inline;
}
.box1{
	width: 50%;
	padding-top: 15%;
	padding-bottom: 15%;
	margin-left: 25%;
}

.icones{
	
top:-10%;
margin-left: 1%;
visibility: hidden;

}

.iconeGit img {
	width: 30%;
	position: absolute;
	
	opacity: 80%;
}
.iconeWpp img{
	margin-left: 10%;
	width: 20%;
	opacity: 80%;
	position: absolute;
	
}
.iconeLinkedin img{
	margin-left: 10%;	
	width: 20%;
	
	opacity: 80%;
}
.fundoIconesDark{
	left: 2.8%;
	top: -18%;
	width: 0%;
	position: fixed;
	background-color:#fce6a2;
	height: 5%;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	opacity: 90%;
	transition: all 0.5s ease-in-out;
	visibility: hidden;
}
.movimentaFundoIconesDark{
	
	width: 0%;
	height: 0%;
	
	
	
}
/* Classe criada para obedecer ao botao MENU*/
.mudaFundoIconesDark{

	width: 12%;
	height: 29%;
	visibility: visible;
	
	
}
.linhaVertical{
	display: none;
}
.lampadaAcesa, .lampadaApagada{
	right: 3%;
	top: 0;
	width: 20%;
	
	
}
.menu{
	visibility: visible;
}
.botaoDarkMode{
	visibility: hidden;
}
.linhaMenu1{
	margin-top: 40%;
	width: 60%;
	border-top: 8px solid #2D2D2D;
	margin-left: 25%;
	margin-bottom: 10%;
	transition: all 0.5s ease-in-out;
}
.linhaMenu2{
	width: 60%;
	margin-left: 25%;
	border-top: 8px solid #2D2D2D;
	margin-bottom: 10%;

	transition: all 0.5s ease-in-out;

}
.linhaMenu3{
	width: 60%;
	margin-left: 25%;
	border-top: 8px solid #2D2D2D;
	transition: all 0.5s ease-in-out;
}
.mudaCorLinha{
	border-top: 8px solid #fce6a2
	

}
.habilidadesImagens{
	display: flex;
	
}
.iconeCssHtmlJs  {
	padding-top: 2%;
	height: 25%;
	width: 45%;
	padding-left:5%;
	padding-right: 0%;
	
	
}
.iconeGitGitHub{
	padding-left: 0;
	width: 50%;


}

.iconeCsharp {

	padding-left: 0;
	width: 30%;
	
	
}
.iconeMySql{
	padding-top: 2%;
	padding-left: 15%;
	width: 40%;
	
}
}


/*---------KEYFRAMES--------*/
/*
 ---- Animação background Inativa ---- 

@keyframes colors{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	

}*/
/* animando menu mobile */


@keyframes CuboMexe{
	/* Cubo começa no meio de seu movimento*/
	0%{
		transform: translateY(0%) 
		
	} 	
		25%{
		transform: translateY(10%) 
		
	}
	50%{
		transform: translateY(0%);
	}

	75%{
		/* Ponto mais alto*/
		transform: translateY(-10%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes sombraAcompanha{

	0%{
		transform: scale3d(1,1,1);
		opacity: 30%;
		
	}

	25%{
		transform: scale3d(0.5,0.5,0.5);
		opacity: 90%;


	}

	

	50%{
		transform: scale3d(1,1,1);
		opacity: 30%;
	}
	75%{
		transform: scale3d(1.5,1.5,1.5);
		opacity: 0%;
	}
	100%{
		transform: scale3d(1,1,1);
		opacity: 30%;
	}
}

.tituloSessao1,.perfilSessaoUm,.sobre,.projetos,.habilidades,.iconeMeio{
	visibility: hidden;
}


/*

Animação botões da esquerda 

@keyframes redes-sociais {


	24%{
		transform: translateY(6%);

	}
	30%{
		transform: translateY(-100%);
	}
	36%{
		transform: translateY(5%);
		}
	42%{
		transform: translateY(-75%);

	}
	48%{
		transform: translateY(4%);
	}
	54%{
		transform: translateY(-50%);
	}
	62%{
		transform: translateY(3%);
	}

	68%{
		transform: translateY(-25%);
	}
	74%{
		transform: translateY(2%);
	}
	80%{
		transform: translateY(-12%);
	}
	86%{
		transform: translateY(1%);
	}
	92%{
		transform: translateY(-6%);
	}

	100%{
		transform: translateY(0%);
	}
}*/